/**
 * Default font
 */
html, body, input, button {
  font-family: 'Times New Roman', 'times', serif;
}

/**
 * Background
 */
html, body {
  background: #fff;
  color: #000;
}

a, a:active, a:focus, a:hover, a:visited {
  color: #00f;
  text-decoration: underline;
}

a:focus {
  color: #00f;
}

a:active {
  color: #f00;
}

/**
 * App container
 */
.app-container {
  padding: 20px 0 0;
  font-size: 16px;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-rendering: auto;
  }
}

/**
 * Site header
 */
.site-header {
  .site-logo {
    @extend %clearfix;
    @extend %flexbox;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .site-logo-gif2 {
    display: none;
  }

  .site-title {
    display: block;
    padding: 10px 0;
    text-align: center;
    h1 { margin: 0 }
  }
}

/**
 * Not Found
 */
.not-found-container {
  text-align: center;
  padding: 50px 0;
  img { max-width: 100% }
}

/**
 * Site footer
 */
.site-footer {
  padding: 20px 0;

  .site-copyright {
    text-align: center;
  }

  .site-counter {
    text-align: center;
  }

  .site-88x31 {
    & > a > div { display: inline-block }
    text-align: center;
    img { margin: 3px }
  }
}

/**
 * Site navigation
 */
.site-navigation {
  & > ul {
    text-align: center;
    list-style-type: none;
    padding: 0;

    & > li {
      margin-right: 12px;
      display: inline-block;
      &:not(:last-child):after {
        content: '|';
        display: inline-block;
        margin-left: 12px;
      }
    }
  }
}

/**
 * Shared
 */
.horizontal-ruler, hr {
  height: 1px;
  border: 1px solid #aaa;
  background-color: #eee;
  border-bottom: 0;
  outline: 0;
  margin: 10px 0;
  padding: 0;
}

@media only screen and (max-width: 797px) {
  .site-header {
    .site-title {
      h1 { font-size: 20px }
    }
  }
}

@media only screen and (min-width: 797px) {
  .site-header {
    .site-logo {
      flex-wrap: nowrap;
    }

    .site-logo-gif1,
    .site-logo-gif2,
    .site-title {
      float: left;
    }

    .site-logo-gif1,
    .site-logo-gif2 {
      display: inline;
    }
  }
}
